body {
    background-color: #fff;
    color: #fff;
    font-family: 'Aldrich', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.header-left img {
    height: 50px;
}

.header-right a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}

.header-right a:hover {
    text-decoration: underline;
}

main {
    padding: 50px;
}

#games-button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}


h1, h2 {
    display: flex;
    width: 500px;
    height: 34px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;  
    color: #000;

    font-family: Aldrich;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



